# Ignore everything
*

# Allow specific files and folders
!.gitignore
!README.md

# Allow kubernetes folder
!kubernetes/
!kubernetes/*.yaml

# Allow backstage config files
!backstage/
!backstage/Dockerfile
!backstage/.dockerignore
!backstage/app-config.production.yaml
